:root{
  --White: hsl(0, 0%, 100%);
  --Light-pink: hsl(275, 100%, 97%);
  --Grayish0purple: hsl(292, 16%, 49%);
  --Dark-purple: hsl(292, 42%, 14%);
}

*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  background-color: var(--Light-pink);

}

.top-bg{
  background: url("/images/background-pattern-desktop.svg");
  position: fixed;
  top: 0;
  width: 100%;
  height: 30vh;
  z-index: -1;
}

.main-container{
  background-color: var(--White);
  width: 85%;
  max-width: 450px;
  border-radius: 10px;
  padding: 20px 20px 0 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
}

.title{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.title img {
  width: 30px;
  margin-right: 20px;
}

.title h1{
  font-size: 35px;
  font-weight: bold;
}

.faq{
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.faq.active .answer{
  display: none;
}

.question{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.question p{
  font-weight: bold;
}

.question p:hover{
  color: blueviolet;
}

.question img{
  width: 30px;
  cursor: pointer;
}

.question img:hover{
  opacity: .3;
  transform: scale(0.9);
  transition: all 300ms ease;
}

.answer{
  color: var(--Grayish0purple);
}

#four{
  border: none;
}